@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro:200,400');

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Playfair Display', serif;
}

p,
a {
    font-family: 'Source Sans Pro', sans-serif;
}


html {
    scroll-behavior: smooth;
}

a {
    background-color: goldenrod;
    text-decoration: none;
    color: white;
    border-radius: .25rem;
    text-align: center;
    display: inline-block;
    transition: all .3s;
}

a:hover {
    opacity: .6;
}


.hero {
    background: url('https://images.unsplash.com/photo-1518176258769-f227c798150e') center;
    background-size: cover;
    padding: 4rem 2rem;
}

.hero>* {
    color: white;
}

.hero>h1 {
    font-size: 4rem;
    padding-bottom: 1rem;
}

.hero>article>p {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.hero>article>a {
    padding: 1rem;
    margin-top: .75rem;
}

.brouwerijen {
    padding: 2rem;
}

.brouwerijen>ul {}

.brouwerijen>ul>li {
    border: 1px solid #E2E2E2;
    border-radius: .5rem;
}

.brouwerijen>ul>li>figure {
    max-height: 220px;
    overflow: hidden;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    position: relative;
}

.brouwerijen>ul>li>figure>img {
    width: 100%;
}

.brouwerijen>ul>li>figure>figcaption {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
}

.brouwerijen>ul>li>figure>figcaption>h3 {
    color: white;
    padding: .75rem;
    font-size: 1.25rem;
}

.brouwerijen>ul>li>p {
    font-size: 1rem;
    line-height: 1.5;
    padding: 1rem .75rem;
    color: #666666;
}

.brouwerijen>ul>li>a {
    padding: .5rem 1rem;
    margin: .5rem;
}

footer {
    background-color: #333;
    padding: .75rem;
    color: white;
    text-align: center;
    font-size: .75rem;
}