@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap');/*naam*/
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');/*standaard*/
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
    --white: #f5f5f5;
    --black: #394a56;
	--grey: #a29e97;
	--background:  #ecf0f3;
}
body {
    font: 1.1em/1.3 'PT Sans Narrow', sans-serif;
    background-color: var(--background);
}
.container-all{
	max-width: 1080px;
	height: auto;
    margin: auto;
}
/* section.background-grey{
    background-color: var(--grey);
    padding-top: 0.2rem;
} */
header{
	height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'PT Sans Narrow', sans-serif;
    color: var(--black);
}

h1 {
	font-size: 4rem;
	padding-bottom: 15px;
}

h2 {
	font-size: 3.5rem;
	padding-bottom: 10px;
}

h3 {
	font-size: 3rem;
	padding-bottom: 10px;
}

h4 {
	font-size: 2.5rem;
	padding-bottom: 10px;
}

h5 {
	font-size: 2rem;
	padding-bottom: 10px;
}

h6 {
	font-size: 1.5rem;
	padding-bottom: 10px;
}

p {
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: 300;
	font-size: 1.1rem;
	margin-top: 1em;
}
q{
	font-family: 'PT Sans Narrow', sans-serif;
	color: var(--grey);
}

a {
	text-decoration: none;
	color: var(--black);
}

ul {
    color: var(--black);
    font-size: 0.8rem; /*maat lettertype navbar*/
	list-style: none;
	margin: 5px 0px;
}

img {
	max-width: 100%;
	height: auto;
	object-fit: cover;
}
.container,
.container-main, 
.container-section-1,
.container-section-2 {
	max-width: 1080px;
	width: 96%;
	padding: 0rem;
	margin: 0 auto;
}
.row {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.col-1 {
	flex: 1 1 auto;
	width: 95%;
	min-width: 320px;
    padding: 25px;
    border: 1px solid blue;
}
.col-2{
	flex: 1 1 auto;
	width: 47.5%;
	min-width: 320px;
    padding: 0px 25px;
    border: 1px solid green;
}
.col-3 {
	flex: 1 1 auto;
	width: 31.66666%;
	min-width: 280px;
    border: 1px solid red;
}
.col-4 {
	flex: 1 1 auto;
	width: 23.5%;
	min-width: 250px;
    border: 1px solid pink;
}
.container-main,
.container-section-1,
.container-section-2{
    margin-top: 50px;
    /* text-align: center; */
}
