.col-1.nav{
    margin:0;
    padding:0;
    margin-top: 2rem;
}
#navbar {
    overflow: hidden;
    background-color: var(--grey);
    z-index: 10;
    -webkit-box-shadow: 28px 30px 40px -29px rgba(255,103,129,0.56); 
    box-shadow: 28px 30px 40px -29px rgba(255,103,129,0.56);
}
#navbar a {
    float: left;
    display: block;
    color: var(--black);
    text-align: center;
    padding: 0.875rem 1rem;
    text-decoration: none;
    font-size: 1rem;
}
#navbar a:hover {
    background-color: var(--orange);
    color: black;
}
.sticky {
    position: fixed;
    top: 0;
    /* width: 100%; */
    padding-top: 2.5rem;
}