/*HEADER*/
/*HEADER*/
/*HEADER*/
.col-2-nav{
    text-align: center;
    padding-top: 18.75rem;
    text-transform: uppercase;
    color: var(--orange);
}
.blok-text{
    padding-top:4rem;
}
.col-2-nav p{
    font-size: 2rem;
}
.col-2-blok{
    height: 100vh;
    width:50%;
    background-color: var(--black);
}
.blok-text{
    color: var(--white);
    writing-mode: vertical-lr;
    text-orientation: mixed;
    left: 480px;
    top: 30px;
    font-size: 6rem;
    font-family: 'Lobster Two', cursive;
}
span.uitroep{
    color: var(--orange);
}
/* MAIN */
/* MAIN */
/* MAIN */
.container-main .row{
    background-color: var(--grey);
    padding: 2rem 0;
}
/*kolom 1, titel about me*/
.titel-hoofding{
    color: var(--black);
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    left: 480px;
    top: 30px;
    font-size: 3rem;
}
/*kolom 2, foto en tekst*/
figure {
    position: relative;
    background: url(../img/grote-foto/klok-time-for-change.jpg);
    width: 345px;
    height: 506px;
    box-sizing: border-box;
    display: inline-block;
    margin: 0 auto;
    background-color: var(--white);
    color: var(--white);
    transition: all 0.80s ease;
    overflow: hidden;
    backface-visibility: hidden;
    /* box-shadow: 3px 2px 24px 0px var(--grey); */
}
figure p.figcaption {
    transform: translateX(-120%);
    background-color: var(--black);
    width: 345px;
    height: 506px;
    margin-top: 0;
    padding: 12rem 0rem 0rem 5rem;
    position: absolute;
    transition: all 1.5s ease;
}
figure:hover p.figcaption {
    transition: all 1.5s ease;
    transform: translate(0, 0);
    color: var(--white);
    font-size: 1.5rem;
}
.extra {
    padding: 3em 2em 0em 2em;
    position:relative;
    color: var(--black);
}
/* SECTION 1, cv en Social media */
/* SECTION 1, cv en Social media */
/* SECTION 1, cv en Social media */
.col-2.col-2-section1{
    justify-content: center;
    text-align: center;
    border: 1px solid var(--orange);
    padding: 3rem 0;
    margin-top: 2rem;
    margin-left: 2rem;
}
.col-2.col-2-section1:first-child{
    margin-left: 0rem;
}
.contact-section1-hoofding{
    color: var(--black);
    padding: 0rem 1.563rem;
    font-size: 3rem;
    padding-left:0;
}
.miniatuur{
    font-size: 0.5rem;
}
.uitroepteken{
    color: var(--orange);
}
.fa.fa-facebook,
.fa.fa-linkedin,
.fa.fa-instagram,
.fa.fa-twitter{
color: var(--orange);
font-size: 2rem;
line-height: 1.6;
}
/* SECTION 2, mijn opdrachten */
/* SECTION 2, mijn opdrachten */
/* SECTION 2, mijn opdrachten */
.titel-hoofding-kennis{
    color: var(--black);
    writing-mode: vertical-lr;
    text-orientation: mixed;
    /* top: 30px;  */
    font-size: 3rem;
    padding-left: 9.5rem;
    /* padding-top: 0.9rem;
    padding-right: 0;
    margin-right: 0; */
}
/*SECTION 2: WRAPPER GALLERIJ*/
/*SECTION 2: WRAPPER GALLERIJ*/
/*SECTION 2: WRAPPER GALLERIJ*/
.container-section-2{
    background-color: var(--orange);
    margin-top: 2rem;
    padding: 2rem 0 3rem 0;
}
.wrapper {
    width: 95%; 
    height: auto;
}
div.gallery ul {
    list-style-type: none;
    margin-left: 1.44rem;
}
/* animation */
div.gallery ul li, div.gallery li img {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
div.gallery ul li {
    position: relative;
    float: left;
    width: 220px;
    height: 220px;
    margin: 0.3rem;
    padding: 0.3rem;
    z-index: 0;
    margin-top: 2.5rem;
}
div.gallery ul li:hover {
    z-index: 5;
}
div.gallery ul li img {
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid var(--black);
    padding: 0.3rem;
    width: 220px;
    height: 220px;
}
div.gallery ul li img:hover {
    width: 220px;
    height: 220px;
    margin-top: -6.25rem;
    margin-left: -8.44rem;
    top: 65%;
    left: 65%;
}
span.foto-titel{
    font-size: 1.5rem;
    text-transform: uppercase;
}
/* FOOTER */
/* FOOTER */
/* FOOTER */
footer{
    background-color: var(--black);
    padding: 1.8rem 0rem;
    margin-top: 2rem;
	text-align: center; 
    color: var(--white);
}
address a{
color: white;
}

 /* Responsive, SECTION 2: WRAPPER GALLERIJ */
 @media only screen and (min-width: 499px) and (max-width: 1212px) {
    .wrapper {
        width: 500px;
    }
}
@media only screen and (max-width: 498px) {
    .wrapper {
        width: 300px;
    }
    div.gallery ul {
        list-style-type: none;
        margin: 0;
    }
} 

/* --------------------------------------------
< 1200px viewport.
-------------------------------------------- */
@media (max-width: 1200px){
    body{
        background-color: green;
    }
    .container-all{
        max-width: 1024px;
        height: auto;
        margin: auto;
    }

    
}

/* --------------------------------------------
Tablet Landscape.
-------------------------------------------- */
@media (max-width: 1024px){
    body{
        background-color: red;
    }
}

/* --------------------------------------------
Tablet Portrait.
-------------------------------------------- */
@media (max-width: 768px){
    body{
        background-color:blue;
    }
}

/* --------------------------------------------
Smartphones.
-------------------------------------------- */
@media (max-width: 600px){
    body{
        background-color: coral;
    }
}


