/*HEADER*/
/*HEADER*/
/*HEADER*/
.col-2-titel-frontenddeveloper{
    text-align: center;
    padding-top: 18.75rem;
    text-transform: uppercase;
    color: var(--orange);
}
.blok-text{
    padding-top:4rem;
}
.col-2-titel-frontenddeveloper p{
    font-size: 2rem;
}
.col-2-blok{
    height: 100vh;
    width: 50%;
    background-color: var(--black);
}
.blok-text{
    color: var(--white);
    writing-mode: vertical-lr;
    text-orientation: mixed;
    left: 480px;
    top: 30px;
    font-size: 6rem;
    font-family: 'Lobster Two', cursive;
}
span.uitroep{
    color: var(--orange);
}
/* MAIN */
/* MAIN */
/* MAIN */
.container-main .row{
    background-color: var(--grey);
    padding: 2rem 0;
}
/*kolom 1, titel about me*/
.titel-hoofding{
    color: var(--black);
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    /* left: 480px;
    top: 30px; */
    font-size: 3rem;
}
/*kolom 2, foto en tekst*/
figure {
    position: relative;
    background: url(../img/klok-time-for-change.jpg);
    width: 345px;
    height: 506px;
    box-sizing: border-box;
    display: inline-block;
    margin: 0 auto;
    background-color: var(--white);
    color: var(--white);
    transition: all 0.80s ease;
    overflow: hidden;
    backface-visibility: hidden;
}
figure p.figcaption {
    transform: translateX(-120%);
    background-color: var(--black);
    width: 345px;
    height: 506px;
    margin-top: 0;
    padding: 12rem 0rem 0rem 5rem;
    position: absolute;
    transition: all 1.5s ease;
}
figure:hover p.figcaption {
    transition: all 1.5s ease;
    transform: translate(0, 0);
    color: var(--white);
    font-size: 1.5rem;
}
.extra {
    padding: 3em 2em 0em 2em;
    position:relative;
    color: var(--black);
}
.extra p{
    text-indent: 20px;
    hyphens: auto;
}
.extra p.firstletter::first-letter {
    font-size: 200%;
    color: var(--orange);
    font-family: 'Lobster Two', cursive;
}
/* SECTION 1, cv en Social media */
/* SECTION 1, cv en Social media */
/* SECTION 1, cv en Social media */
.col-2.col-2-section1{
    justify-content: center;
    text-align: center;
    border: 1px solid var(--orange);
    padding: 0 0;
    margin-top: 2rem;
    margin-left: 2rem;
    padding-top: 2rem;
}
.col-2.col-2-section1:first-child{
    margin-left: 0rem;
}
.contact-section1-hoofding{
    color: var(--black);
    font-size: 2rem;
    padding-left: 1.5rem;
    text-align: left;
    padding-bottom: 2rem;
}
.download-text{
    padding-bottom: 2rem;
}
.miniatuur{
    font-size: 0.5rem; 
}
.uitroepteken{
    color: var(--orange);
}
.fa.fa-facebook,
.fa.fa-linkedin,
.fa.fa-instagram,
.fa.fa-twitter{
    color: var(--orange);
    font-size: 2rem;
    line-height: 1.6;
}
/* SECTION 2, mijn opdrachten */
/* SECTION 2, mijn opdrachten */
/* SECTION 2, mijn opdrachten */
.contact-section1-opdrachten{
    color: var(--white);
    text-align: left;
    font-size: 2rem;
    text-align: left;
}
.container-section-2{
    background-color: var(--orange);
    margin-top: 2rem;
    padding-top: 2rem;
}
.container-box{
    display: flex;
    width: 100%;
    padding: 4% 2%; 
    box-sizing: border-box;
    height: 50vh;
} 
.box {
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 0.625rem;
    box-shadow: 0 20px 30px rgba(0,0,0,.1);
    line-height: 0;
    background-color: var(--white);
}
.box > img {
    width: 100%;
    height: calc(100% - 10vh);
    object-fit: cover; 
    transition: .8s;
    filter: grayscale(70%);
} 
.box > .box-span {
    font-size: 1rem;
    display: block;
    text-align: center;
    line-height: 6.6;
    text-transform: uppercase;
}
.box:hover { 
    flex: 1 1 50%; 
}
.box:hover > img {
    width: 100%;
    height: 100%;
    filter: grayscale(0%);
}
/* FOOTER */
/* FOOTER */
/* FOOTER */
footer{
    background-color: var(--black);
    padding: 1.8rem 0rem;
    margin-top: 2rem;
	text-align: center; 
    color: var(--white);
}
address a{
color: white;
}

/* --------------------------------------------
< 1200px viewport.
-------------------------------------------- */
@media (max-width: 1200px){
    body{
        background-color: green;
        margin-right: 2rem;
    }
}

/* --------------------------------------------
Tablet Landscape.
-------------------------------------------- */
@media (max-width: 1024px){
    body{
        background-color: red;
        margin: 0 2rem;
    }
}

/* --------------------------------------------
Tablet Portrait.
-------------------------------------------- */
@media (max-width: 768px){
    body{
        background-color:blue;
    }
}

/* --------------------------------------------
Smartphones.
-------------------------------------------- */
@media (max-width: 600px){
    body{
        background-color: coral;
        margin-right: 1rem;
    }
    /*HEADER*/
    .col-2.col-2-nav{
        padding-top: 1rem;
        padding-bottom: 2rem;
    }
    .col-2-blok{
        height: auto;
        width:50%;
        background-color: var(--black);
    }
    .blok-text{
        color: var(--white);
        font-size: 4rem;
        font-family: 'Lobster Two', cursive;
        padding: 1rem 0;
        writing-mode: horizontal-tb;
        text-align: center;
    }
    /*MAIN*/
    .container-main .row{
        /* padding: 0; */
    }
    .titel-hoofding{
        color: var(--black);
        writing-mode: horizontal-tb;
        transform: rotate(0deg);
        font-size: 3rem;
        text-align: center;
    }
    figure {
        position: relative;
        background: url(../img/klok-time-for-change.jpg);
        width: 345px;
        height: 506px;
        box-sizing: border-box;
        display: inline-block;
        margin: 0 auto;
        background-color: var(--white);
        color: var(--white);
        transition: all 0.80s ease;
        overflow: hidden;
        backface-visibility: hidden;
    }
    figure p.figcaption {
        display: none;
        /* transform: translateX(-120%);
        background-color: var(--black);
        width: 345px;
        height: 506px;
        margin-top: 0;
        padding: 12rem 0rem 0rem 5rem;
        position: absolute;
        transition: all 1.5s ease; */
    }
    figure:hover p.figcaption {
        display: none;
        /* transition: all 1.5s ease;
        transform: translate(0, 0);
        color: var(--white);
        font-size: 1.5rem; */
    }


    /*cv & MEDIA*/
        .col-2.col-2-section1{
            justify-content: center;
            text-align: center;
            border: 1px solid var(--orange);
            padding: 3rem 0;
            margin-top: 2rem;
            margin-left: 0;
        }
        .col-2.col-2-section1:first-child{
            margin-left: 0rem;
        }
 
}


